.navbar-collapse{
	justify-content: flex-end;
}

.navbar {
	background: #2196F3;
	height: 80px;
}

.navbar-brand {
	color: #ffffff;
	font-family: sans-serif;
	font-size: 25px;
}



body {
	background-image: url("https://www.tokkoro.com/picsup/5233149-mountain-peak-lake-blue-water-blue-lake-wallpaper-desktop-wallpapers-desktop-background-desktop-backgrounds-wallpapers-amazing-wallpaper-cloud-water-blue-cloudy-nature-view-snow-landscape-expl.jpg");
	margin-top: 80px;
	background-size: 1920px 1000px;
}

.nav-link {
	color: white;
	font-size: 15px;
}

.main {
	background-color: white;
	padding: 0px;
}

.secondary {
	min-height: 350px;
}

a.nav-link:hover {
	background: #414141;
	color: #00BCD4;
}

.img-fluid {
	height: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container-fluid.about {
	background: white;
	min-height: 50vh;
	padding-top: 50px;

}
