body{
	background-image:url(./assets/layout/4.png);
	margin:0px;
	padding:0px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;

}
#form_1{
	text-align:center;
	position:bottom;
	width:500px;
	height:300px;
	margin-left:70vh;
	font-size:30px;
	border-radius:30px;
}
#logo
{
	text-align: center;
	top-margin-top: 20px;
	font-family:"Segoe UI";
	padding:20px;
}
.button{
	margin: 4px 2px;
	padding:15px 32px;
	background-color:#C9FFE5;
	border:3px solid #FFC9E3;
	border-radius:10px;
}
legend{
	text-align:left;
}