html{
    background: url('../pictures/bg-main-landing.jpg');
    background-size: cover;
}

.navbar-collapse{
    justify-content: flex-end;
    margin-right: 50px;
}

.navbar {
    background: #0f4a8ee6;;
    height: 80px;
}

.navbar-brand {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 50px;
}

.container-fluid.main {
    background-color: #ffffff24;
    margin-top: -20px;
}


.nav-link {
    color: white;
    font-size: 15px;
}

.row.header {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 90px;
    background: url('../pictures/row-header.png');
    color: white;
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}

.col.padded {
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 50px;
}

.margin-top {
    margin-top: 30px;
}

h1{
    padding-top: 50px;
}
input#email.form-check {
    padding: 5px;
    border-radius: 5px;
    width: 500px;
    margin-right: 10px;
}

.container-fluid.text-center {
    margin-left: 25%;
}

.modal-content {
    height: 500px;
}

.form-control {
    padding: 20px;
    margin-bottom: 10px;
}

header{
    height: 50px;
}

.slide-in-fwd-left {
    -webkit-animation: slide-in-fwd-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-left {
    0% {
        -webkit-transform: translateZ(-1400px) translateX(-1000px);
        transform: translateZ(-1400px) translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-fwd-left {
    0% {
        -webkit-transform: translateZ(-1400px) translateX(-1000px);
        transform: translateZ(-1400px) translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
        opacity: 1;
    }
}

.about.parallax {
    /* The image used */
    background-image: url("../pictures/bg-main-landing.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid.about {
    padding: 50px;
    color: white;
}

.fbimg{
    clip-path: circle(50%);
    width: 50%;
    height: 175px;
    margin-left: 23%;
}

.container-fluid.org-structure
{
    background-color: #c4c4c4;
    padding: 50px;
    text-align: center;
}

.container-fluid.wdesign {
    background-color: #c4c4c4;
}
h4 {
    text-align: center;
}

.card-block{
    padding-top: 15px;
}

.container.main {
    background: transparent;
}

.login {
    background: white;
    max-width: 500px;
    margin-left: 30%;
    margin-top: 20%;
    border-radius: 10px;
    height: 350px;
}

.padded {
    padding: 50px;
}

.submit {
    width:200px;
}
